.main-container{
  background-color:#141414 ;
  color: white;
  height: calc(100vh - 70px);
  padding-top: 20px;
  .movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .movie{
      flex-basis: 25%;
      margin-bottom: 15px;
      background-color: lightblue;
      color: black;
      border: 1px solid red;
      margin-right: 5px;
      padding: 20px;
    }
  }
}